# cPanel Configuration Templates
CPANEL_USER=your_username
CPANEL_API_TOKEN=your_token
CPANEL_HOST=yourserver.com:2083
CPANEL_REMOTE_DIR=/public_html
# Remote directory (usually /public_html)
CPANEL_REMOTE_DIR=/public_html
